@model IEnumerable<StudentProject.Models.StudentTable>
@{
    ViewBag.Title = "searchbyPercentage";
}

<h2>searchbyPercentage</h2>
<table class="table">
    <tr>
        <th>
            Student Id
        </th>
        <th>
            Student Name
        </th>
        <th>
            City
        </th>
        <th>
            Branch
        </th>
        <th>
            Percentage
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.Branch
            </td>
            <td>
                @item.Percentage
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

